@model PublicPost

@{
    ViewData["Title"] = "Maak publieke post";
}

<div class="min-vh-100 w-100 d-flex justify-content-center align-items-center">
    <div class="card p-4">
        <h1 class="mb-4 mr-5">Maak publieke melding</h1>
        @using (Html.BeginForm("CreatePublicPost", "PublicPost", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                <span class="text-danger">@Html.ValidationMessageFor(m => m.Title)</span>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Content)
                @Html.TextAreaFor(m => m.Content, new { @class = "form-control" })
                <span class="text-danger">@Html.ValidationMessageFor(m => m.Content)</span>
            </div>
            <input class="btn btn-primary w-100 mt-4" type="submit" value="Maak Publieke Melding" />
        }
    </div>
    <div class="w-100 position-fixed min-vh-100 st-working-from-anywhere"></div>
</div>
