@using Microsoft.AspNetCore.Routing
@model StreetTalk.Dtos.PublicPostViewModel

@{
    ViewData["Title"] = "Publieke meldingen";
}

@section styles {

    <link href="~/css/postlist.css" rel="stylesheet" asp-append-version="true" />
}

<div class="st-container">
    @if ((bool)ViewData["createSuccess"])
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Melding maken geslaagt
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <h1 class="mb-3">Publieke meldingen</h1>
    <hr class="my-4" />
    <div class="w-100 d-flex flex-column mb-4" aria-label="Filters">
        <div class="d-flex flex-row align-items-center justify-content-between">
            <div id="filter-button" role="button">
                <img src="~/img/filter_list.svg" alt="Filter icoon" />
                <span class="d-inline-block ml-2">Filter & Sorteer</span>
            </div>
        </div>
        <div id="filters">
            @using (Html.BeginForm("Index", "PublicPost", FormMethod.Get, new { @class = "m-3 p-3 card" }))
            {

                <div class="container">
                    <div class="row">
                        <div class="column col-12 col-md-6">
                            <div class="form-check">
                                @Html.CheckBoxFor(m => m.Filters.ShowClosedPosts)
                                @Html.Label("Gesloten meldingen weergeven")
                            </div>
                            <div class="form-check">
                                @Html.CheckBoxFor(m => m.Filters.OnlyLikedPosts)
                                @Html.Label("Posts die ik leuk vind")
                            </div>
                            <div class="form-group">
                                @{
                                    var showSortOptions = new SelectList(new List<object>{

                            new { value = "datum", text = "Datum"},
                            new { value = "likes", text = "Likes"  },
                            new { value = "views", text = "Views" }

                        }, "value", "text");
                                }
                                @Html.Label("Filteropties:")
                                @Html.DropDownListFor(m => m.Filters.SorteerOptie, showSortOptions, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.Label("Zoekopdracht:")
                                @Html.TextBoxFor(m => m.Filters.ZoekFilter, new { @class = "form-control" })
                            </div>

                        </div>
                        <div class="column col-12 col-md-6">
                            <div class="form-group">

                                @Html.Label("Begindatum:")
                                @Html.TextBoxFor(m => m.Filters.StartTime, new { type = "date", @class = "form-control" })
                            </div>
                            <div class="form-group">

                                @Html.Label("Einddatum:")
                                @Html.TextBoxFor(m => m.Filters.EndTime, new { type = "date", @class = "form-control" })
                            </div>

                            <input type="submit" value="Toepassen" class="btn btn-primary form-control mt-3" />
                        </div>
                    </div>

                </div>


            }

        </div>
    </div>
    <ul id="meldingen" class="flex-grow-1 undecorated-list d-flex flex-column" aria-label="Meldingen lijst">
        @foreach (var post in Model.Posts)
        {
            <li aria-label="Melding: @post.Post.Title">
                <partial name="_PostRow" for="@post" />
            </li>
        }
    </ul>
    <div class="d-flex flex-row">
        @Html.ActionLink("Vorige", "Index", new RouteValueDictionary {
             {"Filters.ShowClosedPosts", Model.Filters.ShowClosedPosts },
             {"Filters.SorteerOptie", Model.Filters.SorteerOptie },
             {"Filters.OnlyLikedPosts", Model.Filters.OnlyLikedPosts },
             {"Filters.ZoekFilter", Model.Filters.ZoekFilter },
             {"Filters.StartTime", Model.Filters.StartTime },
             {"Filters.EndTime", Model.Filters.EndTime },
             {"page", Model.PreviousPage}
        }, new { @class = "btn btn-secondary mr-3" })
        @Html.ActionLink("Volgende", "Index", new RouteValueDictionary {
             {"Filters.ShowClosedPosts", Model.Filters.ShowClosedPosts },
             {"Filters.SorteerOptie", Model.Filters.SorteerOptie },
             {"Filters.OnlyLikedPosts", Model.Filters.OnlyLikedPosts },
             {"Filters.ZoekFilter", Model.Filters.ZoekFilter },
             {"Filters.StartTime", Model.Filters.StartTime },
             {"Filters.EndTime", Model.Filters.EndTime },
             {"page", Model.NextPage}
        }, new { @class = "btn btn-secondary" })
    </div>
</div>